In [1]:
import pandas as pd

In [34]:
df = pd.read_excel(r"C:\Users\dell\Downloads\Financial_Sample.xlsx")
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20.0,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,NaN,3,NaN,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15.0,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,NaN,Carretera,NaN,888.0,3,15.0,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15.0,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300.0,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300.0,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7.0,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7.0,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12.0,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [6]:
df.isnull().sum()

Segment                 0
Country                 3
Product                 1
Discount Band          54
Units Sold              1
Manufacturing Price     0
Sale Price              1
Gross Sales             0
Discounts               0
 Sales                  0
COGS                    0
Profit                  0
Date                    0
Month Number            0
Month Name              0
Year                    0
dtype: int64

In [8]:
df.describe()

,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Year
count,699.000000,700.000000,699.000000,7.000000e+02,700.000000,7.000000e+02,700.000000,700.000000,700,700.000000,700.000000
mean,1608.705293,96.477143,118.569385,1.827594e+05,13150.354629,1.696091e+05,145475.211429,24133.860371,2014-04-28 21:36:00,7.900000,2013.750000
min,200.000000,3.000000,7.000000,1.799000e+03,0.000000,1.655080e+03,918.000000,-40617.500000,2013-09-01 00:00:00,1.000000,2013.000000
25%,905.000000,5.000000,12.000000,1.739175e+04,800.320000,1.592800e+04,7490.000000,2805.960000,2013-12-24 06:00:00,5.750000,2013.750000
50%,1545.000000,10.000000,20.000000,3.798000e+04,2585.250000,3.554020e+04,22506.250000,9242.200000,2014-05-16 12:00:00,9.000000,2014.000000
75%,2230.750000,250.000000,300.000000,2.790250e+05,15956.343750,2.610775e+05,245607.500000,22662.000000,2014-09-08 12:00:00,10.250000,2014.000000
max,4492.500000,260.000000,350.000000,1.207500e+06,149677.500000,1.159200e+06,950625.000000,262200.000000,2014-12-01 00:00:00,12.000000,2014.000000
std,867.980791,108.602612,136.822671,2.542623e+05,22962.928775,2.367263e+05,203865.506118,42760.626563,NaN,3.377321,0.433322

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              700 non-null    object
 1   Country              697 non-null    object
 2   Product              699 non-null    object
 3   Discount Band        646 non-null    object
 4   Units Sold           699 non-null    float64
 5   Manufacturing Price  700 non-null    int64
 6   Sale Price           699 non-null    float64
 7   Gross Sales          700 non-null    float64
 8   Discounts            700 non-null    float64
 9    Sales               700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               700 non-null    float64
 12  Date                 700 non-null    datetime64[ns]
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 87.6+ KB

In [14]:
df.select_dtypes(include="object").columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Month Name'], dtype='object')

In [17]:
for x in df.select_dtypes(include="object").columns:
    print(x)

Segment
Country
Product
Discount Band
Month Name

In [35]:
for x in df.select_dtypes(include="object").columns:
    df[x] = df[x].fillna(df[x].mode()[0])

In [22]:
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             1
Manufacturing Price    0
Sale Price             1
Gross Sales            0
Discounts              0
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [24]:
df.select_dtypes(include="float64").columns

Index(['Units Sold', 'Sale Price', 'Gross Sales', 'Discounts', ' Sales',
       'COGS', 'Profit'],
      dtype='object')

In [36]:
for x in df.select_dtypes(include="float64").columns:
    df[x] = df[x].fillna(df[x].mean())

In [32]:
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              0
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [37]:
df.head(3)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,High,1618.500000,3,20.000000,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,High,1608.705293,3,118.569385,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,High,2178.000000,3,15.000000,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014

In [38]:
df.select_dtypes(include="object")

,Segment,Country,Product,Discount Band,Month Name
0,Government,Canada,Carretera,High,January
1,Government,Germany,Carretera,High,January
2,Midmarket,France,Carretera,High,June
3,Midmarket,Canada,Carretera,High,June
4,Midmarket,Mexico,Carretera,High,June
...,...,...,...,...,...
695,Small Business,France,Amarilla,High,March
696,Small Business,Mexico,Amarilla,High,October
697,Government,Mexico,Montana,High,February
698,Government,Canada,Paseo,High,April
699,Channel Partners,United States of America,VTT,High,May

In [40]:
from sklearn.preprocessing import OneHotEncoder ,OrdinalEncoder

In [43]:
ohe = OneHotEncoder(sparse_output=False)
ode = OrdinalEncoder()

In [44]:
from sklearn.compose import make_column_transformer

In [55]:
city2 = make_column_transformer(
    (ohe,["Segment","Country","Product"]),
    (ode,["Discount Band","Month Name"]),
    remainder = "passthrough"
)

In [56]:
city2.set_output(transform="pandas")

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder',
                                 OneHotEncoder(sparse_output=False),
                                 ['Segment', 'Country', 'Product']),
                                ('ordinalencoder', OrdinalEncoder(),
                                 ['Discount Band', 'Month Name'])])

In [57]:
city2.fit_transform(df)

,onehotencoder__Segment_Channel Partners,onehotencoder__Segment_Enterprise,onehotencoder__Segment_Government,onehotencoder__Segment_Midmarket,onehotencoder__Segment_Small Business,onehotencoder__Country_Canada,onehotencoder__Country_France,onehotencoder__Country_Germany,onehotencoder__Country_Mexico,onehotencoder__Country_United States of America,...,remainder__Manufacturing Price,remainder__Sale Price,remainder__Gross Sales,remainder__Discounts,remainder__ Sales,remainder__COGS,remainder__Profit,remainder__Date,remainder__Month Number,remainder__Year
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,3,20.000000,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,2014
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,3,118.569385,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,2014
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,3,15.000000,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,2014
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,3,15.000000,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,2014
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,3,15.000000,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,260,300.000000,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,2014
696,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,260,300.000000,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,2014
697,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,5,7.000000,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,2014
698,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,10,7.000000,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,2014
699,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,250,12.000000,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,2014